# Ignore virtual environment folders
agent/
.venv/
venv/
env/

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyc
# IDE and OS specific
.vscode/
.DS_Store

.env
.aws/
